/* 页脚透明 */
#footer{
  background: transparent!important;
}

#footer, #footer:before {
    background: transparent!important
}

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
